name: CI

on:
  merge_group:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: 'package.json'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Run Format Check
        run: npm run prettier.dry-run
      - name: Build project
        run: npm run build
      - name: Run Tests
        run: npm test -- --no-watch

      # Verify that the Example Project Builds
      - name: Install Example Project Dependencies
        working-directory: './example'
        run: npm ci

      - name: Build Example Project
        working-directory: './example'
        run: npm run build

      - name: Verify No Files Have Changed
        working-directory: './example'
        # here we check that there are no changed / new files.
        # we use `git status` and check if there are more than 0 lines in the output.
        run: |
          if [[ $(git status --short | wc -l) -ne 0 ]]; then
            STATUS=$(git status --verbose); 
            printf "%s" "$STATUS";
            git diff | cat;
            exit 1;
          fi
        shell: bash