name: Renovate-Check

on:
  merge_group:
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: 'package.json'
          cache: 'npm'
      - name: Install renovate
        run: npm install -g renovate
      - name: Run Renovate Validator
        run: renovate-config-validator
